<div class="title">
    {{hbsObject}}
    <h1>Welcome {{hbsObject.user.first_name}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Exercises List</h1>
            <li>
                {{#each exercises}}
                <form action="/{{this.workout_type}}?_method=GET" method="POST">
                    <input type="hidden" name="excercises" value="true">
                    <button type="submit">{{this.workout_type}}</button>
                    {{this.exercise}}
                </form>
                {{/each}}
            </li>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{{!-- {{exercises}} --}}
{{!-- <li>
    {{#each exercises}}
    <div>{{this.exercise}}</div>
     <form class="create-update-form" action="/{{this.workout_type}}" method="POST">
    <div class="form-group">
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight">
        <label for="set">Set:</label>
        <input type="text" id="set" name="set">
        <label for="rep">Rep:</label>
        <input type="text" id="rep" name="rep">
    </div>
    <button type="submit">Submit</button>
</form> 
    {{/each}}
</li> --}}

 {{!-- <form class="create-update-form" action="/" method="POST">
    <div class="form-group">
        <label for="newBurger">Name of Burger:</label>
        <input type="text" id="newBurger" name="name">
    </div>
    <button type="submit">Make Burger</button>
</form>  --}}