<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Exercises List</h1>           
            {{#each exercises}}
                <form action="/{{this.workout_type}}?_method=GET" method="POST">
                    <input type="hidden" name="excercises" value="true">
                    <button type="submit">{{this.workout_type}}</button>
                </form>
            {{/each}}
        </div>
        <div class="col-md-4">
            {{#each exercises}}
                <form action="/{{this.exercise}}" method="POST">
                    <input type="hidden" name="excercises" value="true">
                    <button type="submit" id="workouts" value={{this.exercise}}>{{this.exercise}}</button>
                </form>
            {{/each}}
        </div>
    </div>

<div class="customize">
    <h1>Your Workout</h1>
        <ol>
            {{!-- {{#each workoutData}}
               {{this.exercise}} 
            {{/each}} --}}
        </ol>
        </div>
 <script>

$('button').click(function() {
    var workout = $('button').val();
    $('ol').append('<li>'+workout+'</li>');
    });

</script>

